
Lab1A/src/main/resources/templates/production-list.html
Lab2A/.idea/compiler.xml
Lab2A/.idea/dataSources.xml
Lab2A/.idea/discord.xml
Lab2A/.idea/encodings.xml
Lab2A/.idea/inspectionProfiles/Project_Default.xml
Lab2A/.idea/jarRepositories.xml
Lab2A/.idea/jpa-buddy.xml
Lab2A/.idea/jsLibraryMappings.xml
Lab2A/.idea/misc.xml
Lab2A/.idea/modules.xml
Lab2A/.idea/uiDesigner.xml
Lab2A/.idea/vcs.xml
Lab2A/HELP.md
Lab2A/lab.iml
Lab2A/target/classes/application-h2.properties
Lab2A/target/classes/application-prod.properties
Lab2A/target/classes/application.properties
Lab2A/target/classes/mk/finki/ukim/mk/lab/bootstrap/DataHolder.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/Lab1AApplication.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/model/dto/MovieDto.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/model/enumerations/ShoppingCartStatus.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/model/exceptions/InvalidArgumentsException.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/model/exceptions/InvalidUserCredentialsException.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/model/exceptions/PasswordsDoNotMatchException.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/model/exceptions/ShoppingCartNotFoundException.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/model/exceptions/UserNotFoundException.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/model/Movie.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/model/Production.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/model/ShoppingCart.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/model/TicketOrder.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/model/User.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/model/UserFullname.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/model/UserFullnameConverter.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/repository/impl/MovieRepository.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/repository/impl/ProductionRepository.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/repository/impl/ShoppingCartRepository.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/repository/impl/TicketOrderRepository.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/repository/impl/UserRepository.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/repository/jpa/MovieRepositoryInterface.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/repository/jpa/ProductionRepositoryInterface.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/repository/jpa/ShoppingCartRepositoryInterface.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/repository/jpa/TicketOrderRepositoryInterface.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/repository/jpa/UserRepositoryInterface.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/service/AuthService.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/service/impl/AuthServiceImpl.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/service/impl/MovieServiceImpl.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/service/impl/ProductionServiceImpl.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/service/impl/ShoppingCartServiceImpl.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/service/impl/TicketOrderServiceImpl.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/service/impl/UserServiceImpl.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/service/MovieService.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/service/ProductionService.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/service/ShoppingCartService.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/service/TicketOrderService.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/service/UserService.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/web/controller/LoginController.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/web/controller/MovieController.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/web/controller/ProductionController.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/web/controller/RegisterController.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/web/controller/ShoppingCartController.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/web/controller/TicketOrderController.class
Lab2A/target/classes/mk/finki/ukim/mk/lab/web/controller/UserController.class
Lab2A/target/classes/templates/add-movie.html
Lab2A/target/classes/templates/add-user.html
Lab2A/target/classes/templates/listMovies.html
Lab2A/target/classes/templates/login.html
Lab2A/target/classes/templates/order-confirmation.html
Lab2A/target/classes/templates/production-add.html
Lab2A/target/classes/templates/production-list.html
Lab2A/target/classes/templates/register.html
Lab2A/target/classes/templates/shopping-cart.html
Lab2A/target/classes/templates/ticket-order-form.html
Lab2A/target/classes/templates/ticket-order.html
Lab2A/target/classes/templates/user-list.html
Lab2A/target/lab-0.0.1-SNAPSHOT.jar
Lab2A/target/lab-0.0.1-SNAPSHOT.jar.original
Lab2A/target/maven-archiver/pom.properties
Lab2A/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Lab2A/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Lab2A/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
Lab2A/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Lab2A/target/surefire-reports/2023-10-29T00-23-47_718.dumpstream
Lab2A/target/surefire-reports/2023-10-29T00-24-23_117.dumpstream
Lab2A/target/surefire-reports/mk.finki.ukim.mk.lab.Lab1AApplicationTests.txt
Lab2A/target/surefire-reports/TEST-mk.finki.ukim.mk.lab.Lab1AApplicationTests.xml
Lab2A/target/test-classes/mk/finki/ukim/mk/lab/Lab1AApplicationTests.class
Lab3A/.idea/compiler.xml
Lab3A/.idea/dataSources.xml
Lab3A/.idea/discord.xml
Lab3A/.idea/encodings.xml
Lab3A/.idea/inspectionProfiles/Project_Default.xml
Lab3A/.idea/jarRepositories.xml
Lab3A/.idea/jpa-buddy.xml
Lab3A/.idea/jsLibraryMappings.xml
Lab3A/.idea/misc.xml
Lab3A/.idea/modules.xml
Lab3A/.idea/uiDesigner.xml
Lab3A/.idea/vcs.xml
Lab3A/HELP.md
Lab3A/lab.iml
Lab3A/target/classes/application-h2.properties
Lab3A/target/classes/application-prod.properties
Lab3A/target/classes/application.properties
Lab3A/target/classes/mk/finki/ukim/mk/lab/bootstrap/DataHolder.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/Lab1AApplication.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/model/dto/MovieDto.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/model/enumerations/ShoppingCartStatus.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/model/exceptions/InvalidArgumentsException.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/model/exceptions/InvalidUserCredentialsException.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/model/exceptions/PasswordsDoNotMatchException.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/model/exceptions/ShoppingCartNotFoundException.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/model/exceptions/UserNotFoundException.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/model/Movie.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/model/Production.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/model/ShoppingCart.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/model/TicketOrder.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/model/User.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/model/UserFullname.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/model/UserFullnameConverter.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/repository/impl/MovieRepository.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/repository/impl/ProductionRepository.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/repository/impl/ShoppingCartRepository.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/repository/impl/TicketOrderRepository.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/repository/impl/UserRepository.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/repository/jpa/MovieRepositoryInterface.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/repository/jpa/ProductionRepositoryInterface.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/repository/jpa/ShoppingCartRepositoryInterface.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/repository/jpa/TicketOrderRepositoryInterface.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/repository/jpa/UserRepositoryInterface.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/service/AuthService.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/service/impl/AuthServiceImpl.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/service/impl/MovieServiceImpl.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/service/impl/ProductionServiceImpl.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/service/impl/ShoppingCartServiceImpl.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/service/impl/TicketOrderServiceImpl.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/service/impl/UserServiceImpl.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/service/MovieService.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/service/ProductionService.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/service/ShoppingCartService.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/service/TicketOrderService.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/service/UserService.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/web/controller/LoginController.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/web/controller/MovieController.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/web/controller/ProductionController.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/web/controller/RegisterController.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/web/controller/ShoppingCartController.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/web/controller/TicketOrderController.class
Lab3A/target/classes/mk/finki/ukim/mk/lab/web/controller/UserController.class
Lab3A/target/classes/templates/add-movie.html
Lab3A/target/classes/templates/add-user.html
Lab3A/target/classes/templates/listMovies.html
Lab3A/target/classes/templates/login.html
Lab3A/target/classes/templates/order-confirmation.html
Lab3A/target/classes/templates/production-add.html
Lab3A/target/classes/templates/production-list.html
Lab3A/target/classes/templates/register.html
Lab3A/target/classes/templates/shopping-cart.html
Lab3A/target/classes/templates/ticket-order-form.html
Lab3A/target/classes/templates/ticket-order.html
Lab3A/target/classes/templates/user-list.html
Lab3A/target/lab-0.0.1-SNAPSHOT.jar
Lab3A/target/lab-0.0.1-SNAPSHOT.jar.original
Lab3A/target/maven-archiver/pom.properties
Lab3A/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Lab3A/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Lab3A/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
Lab3A/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Lab3A/target/surefire-reports/2023-10-29T00-23-47_718.dumpstream
Lab3A/target/surefire-reports/2023-10-29T00-24-23_117.dumpstream
Lab3A/target/surefire-reports/mk.finki.ukim.mk.lab.Lab1AApplicationTests.txt
Lab3A/target/surefire-reports/TEST-mk.finki.ukim.mk.lab.Lab1AApplicationTests.xml
Lab3A/target/test-classes/mk/finki/ukim/mk/lab/Lab1AApplicationTests.class
